* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

.layout {
  display: flex;
  height: 100vh;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #4a2cff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}


/* Sidebar */
.sidebar {
  width: 240px;
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  font-size: 22px;
  font-weight: bold;
  color: #4a2cff;
  margin-bottom: 30px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar nav a {
  padding: 12px 10px;
  text-decoration: none;
  color: #333;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.2s;
}

.sidebar nav a:hover {
  background: #f0f0ff;
}

.sidebar nav a.active {
  background: #4a2cff;
  color: white;
}

.sidebar button {
  padding: 12px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.sidebar button:hover {
  background: #d93636;
}

/* Content */
.content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.primary-btn {
  background: #4a2cff;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.secondary-btn {
  background: #f1f1ff;
  color: #4a2cff;
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #dcdcff;
  cursor: pointer;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.sidebar-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #4a2cff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border: 3px solid #e5e5ff;
  cursor: pointer;
}

